<div>
    <h4 data-bind="visible: errorMessage, text: errorMessage"></h4>

    <div class="stores-list" data-bind="foreach: stores">
    <div class="store-container">
        <div class="store-name-container">
            <h3 class="store-name" data-bind="text: name"></h3>
        </div>
        <div class="store-info-contact-wrapper">
            <div class="store-info-container">
                <p class="store-address" data-bind="text: address"></p>
                <div class="store-location-container">
                    <span class="store-city" data-bind="text: city">,</span>
                    <span class="store-postcode" data-bind="text: postcode">,</span>
                    <span class="store-country" data-bind="text: country"></span>
                </div>
            </div>
            <div class="store-contact-container">
                <p class="store-hours" data-bind="text: hours"></p>
                <p class="store-phone" data-bind="text: phone"></p>
            </div>
        </div>
    </div>
</div>
    <div class="pagination" data-bind="visible: pageCount() > 1">
        <button data-bind="click: function() { changePage(currentPage() - 1) }, visible: currentPage() > 1">&laquo; Back</button>
        <!-- ko foreach: {data: ko.utils.range(1, pageCount()), as: 'pageNumber'} -->
        <button data-bind="text: pageNumber, click: function() { $parent.changePage(pageNumber) }, css: { 'current-page': $parent.currentPage() === pageNumber } "></button>
        <!-- /ko -->
        <button data-bind="click: function() { changePage(currentPage() + 1) }, visible: currentPage() < pageCount()">Next &raquo;</button>
    </div>
</div>
